@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    display: block;
    background: rgb(3, 136, 189);
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Architects Daughter', cursive;
}
footer {
    display: block;
    background: rgb(3, 136, 189);
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Architects Daughter', cursive;
}
body {
    background-color:rgb(21, 23, 26);
}
h1 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    font-family: 'Architects Daughter';
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:white;
    padding:1%;
}

h2 {
    grid-area: h2;
    display: block;
    font-size:x-large;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2.projectheader {
    display: block;
    text-align: center;
    font-size:x-large;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
    padding:1%;
}

h4.h4represres {
    grid-area: result;
    display: block;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    color: white;
}

p {
    display: block;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color:white;
}
#pshiny {
    display:block;
    text-align:left;
    color: white;
}

#inspo{
    margin-bottom: 80px;
}

#shinyquestions {
    text-align: center;
}

p.msg {
    margin-left:20%;
    margin-right:20%;
    padding:10px;
}

p.album {
    grid-area:text;
    display:block;
    color: white;
    text-align:left;
    justify-self:start;
}

p.represres{
    grid-area:result;
    text-align:span;
}
p.fig1text1{
    grid-area:text11;
}
p.fig1text2{
    grid-area:text12;
}
p.fig1text3{
    grid-area:text13;
}

p.fig2text1{
    grid-area:text21;
}
p.fig2text2{
    grid-area:text22;
}

img.doge {
    object-fit:contain;
    padding: 10px;
    height:225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

img.imgrepreshealth {
    object-fit:contain;
    grid-area:image1;
    height:500px;
  }

img.imgrepresproperty {
    object-fit:contain;
    grid-area:image2;
    height:500px;
  }

 section.projectframe {
     background: rgb(112, 7, 7);
     margin-left:10%;
     margin-right:10%;
     padding: 10px;
     margin-top: 5%;
     margin-bottom:5%;
     border-style: solid;
     border-color: rgb(123, 224, 255);
 }

 section.findings {
    display:grid;
    grid-template-areas:
    'result result' 
    'text11 text11'
    'image1 text12'
    'image1 text13'
    'text21 text21'
    'image2 text22';
    grid-gap: 10px;
    background: rgb(21, 23, 26);
    margin-top: 5%;
    margin-left:20%;
    margin-bottom:5%;
    margin-right:20%;
    padding:10px;
    border-style: solid;
    border-color: rgb(123, 224, 255);
}

iframe.shiny{
    border-style: solid;
    border-color: rgb(123, 224, 255);
}

object.madbeds {
    display: block; 
    margin-left: auto; 
    margin-right: auto 
}