@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    display: block;
    background: rgba(122, 3, 3, 0.74);
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Architects Daughter', cursive;
}
footer {
    display: block;
    background: rgba(122, 3, 3, 0.74);
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Architects Daughter', cursive;
}
body {
    background-color:rgb(21, 23, 26);
}
h1 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    font-family: 'Architects Daughter', cursive;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:white;
    padding:1%;
}

h2 {
    grid-area: h2;
    display: block;
    font-size:x-large;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2.projectheader {
    display: block;
    text-align: center;
    font-size:x-large;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
    padding:1%;
}

#h21 {
    color: yellow;
}

#h22 {
    color: red;
}

h3 {
    grid-area: h3;
    display: block;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#h31 {
    color: yellow;
}
#h32 {
    color:red;
}
p {
    display: block;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color:white;
}
#pshiny {
    display:block;
    text-align:left;
    color: white;
}

#inspo{
    margin-bottom: 80px;
}

#shinyquestions {
    text-align: center;
}

p.msg {
    margin-left:20%;
    margin-right:20%;
    padding:10px;
}

p.album {
    grid-area:text;
    display:block;
    color: white;
    text-align:left;
    justify-self:start;
}
img.doge {
    object-fit:contain;
    padding: 10px;
    height:225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
 section.projectframe {
     background: rgba(122, 3, 3, 0.74);
     margin-left:10%;
     margin-right:10%;
     padding: 10px;
     margin-top: 5%;
     margin-bottom:5%;
 }